{% extends 'base.html' %}
{% block title %}{{query|title}}{% endblock title %}
{% block body %}
{% if posts %}
<section class="section">
	<div class="container">
   <h3 class="m-4">There are ({{posts|length}}) results for keyword: {{query}}</h3>  
		<div class="row">
			<div class="col-12  mb-5 mb-lg-0">
            {% for post in posts %}
            <article class="row mb-5">
               <div class="col-12">
                  <div class="post-slider">
                     <img loading="lazy" src="{{post.image.url}}" class="img-fluid" alt="image of {{post.title}}">
                  </div>
               </div>
               <div class="col-12 mx-auto">
                  <h3><a class="post-title" href="/{{post.url}}">{{post.title|title}}</a></h3>
                  <ul class="list-inline post-meta mb-4">
                     <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="/author/{{post.author}}">{{post.author|title}}</a>
                     </li>
                     <li class="list-inline-item">Date : {{post.publish}}</li>
                     <li class="list-inline-item">Categories : <a href="/category/{{post.category.url}}" class="ml-1">{{post.category.name|title}} </a>
                     </li>
                     <li class="list-inline-item">Tags : <a href="#!" class="ml-1">Photo </a> ,<a href="#!" class="ml-1">Image </a>
                     </li>
                  </ul>
                  <p>{{post.body|capfirst|truncatechars:100}}</p> <a href="/{{post.url}}" class="btn btn-outline-primary">Continue Reading</a>
               </div>
            </article>
            
            
            {% if posts.has_other_pages %}
            <nav aria-label="Page navigation example m-5 mt-3">
              <ul class="pagination mt-3">
                {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"> < </a></li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link"> < </a>
                </li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                  {% if posts.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{i}}</a>
                  </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"> > </a></li>
               
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link"> > </a>
                </li>
                {% endif %}
            
              </ul>
            </nav>
            {% endif %}
            {% endfor %}
			</div>
		</div>
	</div>
</section>
{% else %}
<div  class="container text-center align-middle  my-5" >
There no such results for your keyword.</div>
{% endif %}
{% endblock body %}